.personal {
    margin: 5px;
    border: 2px solid black;
    border-radius: 4px;
}

.next {
    border-radius: 4px;
    border: 2px solid black;
    padding: 5px 30px 5px 30px;
    margin-left: 300px;
    margin-top: 60px;
}

.description {
    width: 550px;
    margin-left: 35px;
}

.name {
    margin-left: 25px;
}

.inp {
    margin-left: 50px;
}